NODE_ENV=development
API_PREFIX=/api/v1
API_SERVER=http://localhost
PORT=3000
DATABASE_PG_URL=postgres://postgres:postgres@localhost:5432/meu_banco
POSTGRES_SERVER=localhost
POSTGRES_USER=user
POSTGRES_PASSWORD=senha
POSTGRES_DB=banco
POSTGRES_PORT=5432